[submodule "drivers"]
	path = drivers
	url = https://github.com/placeos/drivers
[submodule "calendar"]
	path = calendar
	url = https://github.com/PlaceOS/calendar
[submodule "markitdown"]
	path = markitdown
	url = https://github.com/microsoft/markitdown
